<div id="overview-historic-loans-alert" class="loan-history-alert" role="note" aria-labelledby="loan-history-heading">
  <div class="loan-history-alert__content">
    <h3 id="loan-history-heading">Loan History</h3>
    <p>To protect your privacy, UW-Whitewater Libraries anonymizes all loan history data older than six months.</p>
    <p>
      To retain your future loan data, please
      <a href="https://loanhistory.library.wisconsin.edu/" aria-label="Opt in to retain future loan data">opt in</a>.
    </p>
    <p>
      For more information about loan history policies, visit the
      <a href="https://libguides.uww.edu/loanhistory" aria-label="Learn more about loan history policies at UW-Whitewater Libraries">loan history guide</a>.
    </p>
    <p>
      <a href="https://loanhistory.library.wisconsin.edu/">Loan History app</a>
    </p>
  </div>
</div>
